body {
    background-color: rgb(57, 165, 57);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: white;
    box-shadow: 0 0 10px black 0 0, 0 10px black;
}

div {
    width: 100px;
    height: 100px;
    position: relative;
    top: 50%: justify-content: center;
    left: 50%: align-items: center;
    display: flex;
}

[transform: translate(-50%, -50%);]
span {
    font-size: 50px;
    color: white;
}



